<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style2.css">
    <title>Thankyou...</title>
</head>
<body>
    <div id="confirmation" class="hidden">
        <h2>Thank you for your order!</h2>
        <br>
        <p>We have received your order and it will be delivered/pickup at the following address</p>
        <p id="address-confirmation"></p>
    </div>
</body>
</html>